body {
  background: orange;
}

#title {
  margin-left:50px;
}

#flag_esp {
  width: 65px;
  height: 50px;
  float:right;
  margin-right: 80px;
}

#flag_eng {
  width: 65px;
  height: 50px;
  float:right;
  margin-right: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    width: 100%;
    height: 100px;
    color: orange;
    float: left;
    font-size:75%;
}

p {
  font-size: 350%;
}

li a {
    display: block;
    width: 600px;
    background-color: #dddddd;
}

#specs-esp {
  background: rgb(255,212,127);
  margin: 0 auto;
  border-radius: 25px;
  padding: 20px;
  width: 400px;
  height: 350px;
  border: 2px solid #000000;
}

#specs-eng {
  background: rgb(255,212,127);
  margin: 0 auto;
  border-radius: 25px;
  padding: 20px;
  width: 400px;
  height: 350px;
  border: 2px solid #000000;
}

#all {
  margin-top:100px;
}

div.mask {
    width: 250px;
    height: 50px;
    background: url('../images/botones_opciones/cargar_grafo.png');
    overflow: hidden;
    margin: 0 auto;
}

div.mask input {
    display: block !important;
    width: 250px !important;
    height: 50px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}

div.mask:hover {
  width: 250px;
  height: 50px;
  background: url('../images/botones_opciones/cargar_grafo_pulsado.png');
  overflow: hidden;
}

div.mask-eng {
    width: 250px;
    height: 50px;
    background: url('../images/botones_opciones/cargar_grafo_eng.png');
    overflow: hidden;
    margin: 0 auto;
}

div.mask-eng input {
    display: block !important;
    width: 250px !important;
    height: 50px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}

div.mask-eng:hover {
  width: 250px;
  height: 50px;
  background: url('../images/botones_opciones/cargar_grafo_pulsado_eng.png');
  overflow: hidden;
}

#container2 {
  max-width: 800px;
  height: 600px;
  margin-left: 5px;
  margin-top: 10px;
  background-color: black;
}

#filter_selection {
  margin-left: 200px;
  width: 300px;
  float:right;
  background: rgb(243,194,48);
  border-radius: 25px;
  padding: 8px;
  border: 2px solid #000000;
}

#neuronal_group_button {
  background: url('../images/botones_opciones/grupo_neuronal.png');
  height: 50px;
  width: 250px;
}

#neuronal_group_button:hover {
  background: url('../images/botones_opciones/grupo_neuronal_pulsado.png');
  height: 50px;
  width: 250px;
}

#synapse_type_button {
  background: url('../images/botones_opciones/tipo_conexion.png');
  height: 50px;
  width: 250px;
}

#synapse_type_button:hover {
  background: url('../images/botones_opciones/tipo_conexion_pulsado.png');
  height: 50px;
  width: 250px;
}

#id_filter_button {
  background: url('../images/botones_opciones/filtro_id.png');
  height: 50px;
  width: 250px;
}

#id_filter_button:hover {
  background: url('../images/botones_opciones/filtro_id_pulsado.png');
  height: 50px;
  width: 250px;
}

#weigth_filter_button {
  background: url('../images/botones_opciones/filtro_peso.png');
  height: 50px;
  width: 250px;
}

#weigth_filter_button:hover {
  background: url('../images/botones_opciones/filtro_peso_pulsado.png');
  height: 50px;
  width: 250px;
}

#manual_selection_button {
  background: url('../images/botones_opciones/seleccion_manual.png');
  height: 50px;
  width: 250px;
}

#manual_selection_button:hover {
  background: url('../images/botones_opciones/seleccion_manual_pulsado.png');
  height: 50px;
  width: 250px;
}


#log_button {
  background: url('../images/botones_opciones/registro_datos.png');
  height: 50px;
  width: 250px;
}

#log_button:hover {
  background: url('../images/botones_opciones/registro_datos_pulsado.png');
  height: 50px;
  width: 250px;
}

#log_button_eng {
  background: url('../images/botones_opciones/registro_datos_eng.png');
  height: 50px;
  width: 250px;
}

#log_button_eng:hover {
  background: url('../images/botones_opciones/registro_datos_pulsado_eng.png');
  height: 50px;
  width: 250px;
}

#neuron_stats_button {
  background: url('../images/botones_opciones/tipo_neurona.png');
  height: 50px;
  width: 250px;
}

#neuron_stats_button:hover {
  background: url('../images/botones_opciones/tipo_neurona_pulsado.png');
  height: 50px;
  width: 250px;
}

#neuron_stats_button_eng {
  background: url('../images/botones_opciones/tipo_neurona_eng.png');
  height: 50px;
  width: 250px;
}

#neuron_stats_button_eng:hover {
  background: url('../images/botones_opciones/tipo_neurona_pulsado_eng.png');
  height: 50px;
  width: 250px;
}

#synapse_stats_button {
  background: url('../images/botones_opciones/sinapsis.png');
  height: 50px;
  width: 250px;
}

#synapse_stats_button:hover {
  background: url('../images/botones_opciones/sinapsis_pulsado.png');
  height: 50px;
  width: 250px;
}

#synapse_stats_button_eng {
  background: url('../images/botones_opciones/sinapsis_eng.png');
  height: 50px;
  width: 250px;
}

#synapse_stats_button_eng:hover {
  background: url('../images/botones_opciones/sinapsis_pulsado_eng.png');
  height: 50px;
  width: 250px;
}



#neuronal_group_button_eng {
  background: url('../images/botones_opciones/grupo_neuronal_eng.png');
  height: 50px;
  width: 250px;
}

#neuronal_group_button_eng:hover {
  background: url('../images/botones_opciones/grupo_neuronal_pulsado_eng.png');
  height: 50px;
  width: 250px;
}

#synapse_type_button_eng {
  background: url('../images/botones_opciones/tipo_conexion_eng.png');
  height: 50px;
  width: 250px;
}

#synapse_type_button_eng:hover {
  background: url('../images/botones_opciones/tipo_conexion_pulsado_eng.png');
  height: 50px;
  width: 250px;
}

#id_filter_button_eng {
  background: url('../images/botones_opciones/filtro_id_eng.png');
  height: 50px;
  width: 250px;
}

#id_filter_button_eng:hover {
  background: url('../images/botones_opciones/filtro_id_pulsado_eng.png');
  height: 50px;
  width: 250px;
}

#weigth_filter_button_eng {
  background: url('../images/botones_opciones/filtro_peso_eng.png');
  height: 50px;
  width: 250px;
}

#weigth_filter_button_eng:hover {
  background: url('../images/botones_opciones/filtro_peso_pulsado_eng.png');
  height: 50px;
  width: 250px;
}

#manual_selection_button_eng {
  background: url('../images/botones_opciones/seleccion_manual_eng.png');
  height: 50px;
  width: 250px;
}

#manual_selection_button_eng:hover {
  background: url('../images/botones_opciones/seleccion_manual_pulsado_eng.png');
  height: 50px;
  width: 250px;
}

#back_1 {
  background: url('../images/botones_opciones/volver.png');
  height: 50px;
  width: 138px;
}

#back_1:hover {
  background: url('../images/botones_opciones/volver_pulsado.png');
  height: 50px;
  width: 138px;
}

#back_2 {
  background: url('../images/botones_opciones/volver.png');
  height: 50px;
  width: 138px;
}

#back_2:hover {
  background: url('../images/botones_opciones/volver_pulsado.png');
  height: 50px;
  width: 138px;
}

#back_3 {
  background: url('../images/botones_opciones/volver.png');
  height: 50px;
  width: 138px;
}

#back_3:hover {
  background: url('../images/botones_opciones/volver_pulsado.png');
  height: 50px;
  width: 138px;
}

#back_4 {
  background: url('../images/botones_opciones/volver.png');
  height: 50px;
  width: 138px;
}

#back_4:hover {
  background: url('../images/botones_opciones/volver_pulsado.png');
  height: 50px;
  width: 138px;
}

#back_5 {
  background: url('../images/botones_opciones/volver.png');
  height: 50px;
  width: 138px;
}

#back_5:hover {
  background: url('../images/botones_opciones/volver_pulsado.png');
  height: 50px;
  width: 138px;
}

#back_6 {
  background: url('../images/botones_opciones/volver.png');
  height: 50px;
  width: 138px;
}

#back_6:hover {
  background: url('../images/botones_opciones/volver_pulsado.png');
  height: 50px;
  width: 138px;
}

#back_6_eng {
  background: url('../images/botones_opciones/volver_eng.png');
  height: 50px;
  width: 138px;
}

#back_6_eng:hover {
  background: url('../images/botones_opciones/volver_pulsado_eng.png');
  height: 50px;
  width: 138px;
}

#back_7 {
  background: url('../images/botones_opciones/volver.png');
  height: 50px;
  width: 138px;
}

#back_7:hover {
  background: url('../images/botones_opciones/volver_pulsado.png');
  height: 50px;
  width: 138px;
}

#back_7_eng {
  background: url('../images/botones_opciones/volver_eng.png');
  height: 50px;
  width: 138px;
}

#back_7_eng:hover {
  background: url('../images/botones_opciones/volver_pulsado_eng.png');
  height: 50px;
  width: 138px;
}



#back_8 {
  background: url('../images/botones_opciones/volver.png');
  height: 50px;
  width: 138px;
}

#back_8:hover {
  background: url('../images/botones_opciones/volver_pulsado.png');
  height: 50px;
  width: 138px;
}

#back_8_eng {
  background: url('../images/botones_opciones/volver_eng.png');
  height: 50px;
  width: 138px;
}

#back_8_eng:hover {
  background: url('../images/botones_opciones/volver_pulsado_eng.png');
  height: 50px;
  width: 138px;
}


#back_1_eng {
  background: url('../images/botones_opciones/volver_eng.png');
  height: 50px;
  width: 138px;
}

#back_1_eng:hover {
  background: url('../images/botones_opciones/volver_pulsado_eng.png');
  height: 50px;
  width: 138px;
}

#back_2_eng {
  background: url('../images/botones_opciones/volver_eng.png');
  height: 50px;
  width: 138px;
}

#back_2_eng:hover {
  background: url('../images/botones_opciones/volver_pulsado_eng.png');
  height: 50px;
  width: 138px;
}

#back_3_eng {
  background: url('../images/botones_opciones/volver_eng.png');
  height: 50px;
  width: 138px;
}

#back_3_eng:hover {
  background: url('../images/botones_opciones/volver_pulsado_eng.png');
  height: 50px;
  width: 138px;
}

#back_4_eng {
  background: url('../images/botones_opciones/volver_eng.png');
  height: 50px;
  width: 138px;
}

#back_4_eng:hover {
  background: url('../images/botones_opciones/volver_pulsado_eng.png');
  height: 50px;
  width: 138px;
}

#back_5_eng {
  background: url('../images/botones_opciones/volver_eng.png');
  height: 50px;
  width: 138px;
}

#back_5_eng:hover {
  background: url('../images/botones_opciones/volver_pulsado_eng.png');
  height: 50px;
  width: 138px;
}



#synapse_selection {
  margin-left: 200px;
  width: 300px;
  float:right;
  background: rgb(243,194,48);
  border-radius: 25px;
  padding: 8px;
  border: 2px solid #000000;
}

#neuron_selection {
  margin-left: 200px;
  width: 300px;
  float:right;
  background: rgb(243,194,48);
  border-radius: 25px;
  padding: 8px;
  border: 2px solid #000000;
}

#neuronInfo {
  margin-top: 650px;
  margin-left: 100px;
  max-width: 250px;
  width: 250px;
  float: left;
  background: rgb(243,194,48);
  border-radius: 25px;
  padding: 8px;
  border: 2px solid #000000;
}

#slider {
  position: fixed;
  top: 0;
  z-index: 999;
  margin-right: 0px;
  margin-left: 280px;
  width: 150px;
  float:right;
}

#weigthSlider {
  position: fixed;
  top: 0;
  z-index: 999;
  margin-right: 5px;
  margin-left: 280px;
  width: 150px;
  float:right;
}

#weigthSlider_eng {
  position: fixed;
  top: 0;
  z-index: 999;
  margin-right: 5px;
  margin-left: 280px;
  width: 150px;
  float:right;
}

#manualSelection {
  /*margin-left: 250px;
  width: 300px;
  float:right;*/
  position: fixed;
  top: 0;
  z-index: 999;
  margin-right: 0px;
  margin-left: 280px;
  width: 300px;
  float:right;

  background: rgb(243,194,48);
  border-radius: 25px;
  padding: 8px;
  border: 2px solid #000000;
}

#log {
  margin-left: 200px;
  width: 300px;
  float:right;
  background: rgb(243,194,48);
  border-radius: 25px;
  padding: 8px;
  border: 2px solid #000000;
}

#stats_n {
  margin-left: 200px;
  width: 300px;
  float:right;
}

#stats_a {
  margin-left: 200px;
  width: 300px;
  float:right;
}

#log_n {
  margin-left: 200px;
  width: 300px;
  float:right;
  background: rgb(243,194,48);
  border-radius: 25px;
  padding: 8px;
  border: 2px solid #000000;
}

#log_a {
  margin-left: 200px;
  width: 300px;
  float:right;
  background: rgb(243,194,48);
  border-radius: 25px;
  padding: 8px;
  border: 2px solid #000000;
}

div.upload {
    width: 250px;
    height: 50px;
    background: url('../images/botones_opciones/cargar_grafo.png');
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 250px !important;
    height: 50px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}

div.upload:hover {
  width: 250px;
  height: 50px;
  background: url('../images/botones_opciones/cargar_grafo_pulsado.png');
  overflow: hidden;
}

#boton_grafo {
  background: url('../images/botones_opciones/mostrar_grafo.png');
}

#boton_grafo:hover {
  background: url('../images/botones_opciones/mostrar_grafo_pulsado.png');
}

#main_page_button_esp {
  background: url('../images/botones_opciones/principal.png');
  margin-top: 650px;
  max-width: 500px;
  float:left;
  width: 250px;
  height: 50px;
  background-color: black;
  color: orange;
  overflow: hidden !important;
}

#main_page_button_esp:hover {
  background: url('../images/botones_opciones/principal_pulsado.png');
}

#main_page_button_eng {
  background: url('../images/botones_opciones/principal_eng.png');
  margin-top: 650px;
  max-width: 500px;
  float:left;
  width: 250px;
  height: 50px;
  background-color: black;
  color: orange;
  overflow: hidden !important;
}

#main_page_button_eng:hover {
  background: url('../images/botones_opciones/principal_pulsado_eng.png');
}

#boton_cargar_grafo {
  background: url('../images/botones_opciones/cargar_grafo.png');
}

#boton_cargar_grafo:hover {
  background: url('../images/botones_opciones/cargar_grafo_pulsado.png');
}

#botones_opciones {
  margin-right: 25px;
  margin-left: 900px;
  margin-top: 100px;
  max-width: 150px;
  float:right;
}

#botones_opciones img {
  width: 250px;
  height: 50px;
  background-color: black;
  color: orange;
  overflow: hidden !important;
}

#botones_opciones input:hover {
  background-color: orange;
  color: black;
}

#container1 {
  max-width: 500px;
  height: 400px;
  margin: auto;
}

canvas{
    display: block;
    margin: 0 auto;
}

.image-zone {
  border-color: #000;
  margin-top: 30px;
}

.container1 {
  border-color: #000;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 500px;
  background-color: black;
}

img {
    display: block;
    margin: 0 auto;
    height:300px;
}


.separator {
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: 3px solid #000;
  size:1px;
}

table {
	border:1px solid rgba(133,6,3,0);
	border-collapse: collapse;
  margin: 0 auto;
  margin-top: 50px;
}

table td{
	border:1px solid rgb(133,6,3);
	padding:10px;
}

table tr:hover{
	background:gray;
}

table td:hover{
	background:orange;
	color:black;
}

table td img {
	height:auto;
	width:100px;
	margin:auto;
	display:block;
}
