body {
  background: orange;
}

#container2 {
  max-width: 900px;
  height: 600px;
  margin-left: 5px;
  margin-top: 10px;
  background-color: black;
}

#seleccion_neuronas {
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 700px;
  max-width: 500px;
  float:left;
  display: none;
}

div.upload {
    width: 250px;
    height: 50px;
    background: url('../images/botones_opciones/cargar_grafo.png');
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 250px !important;
    height: 50px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
}

div.upload:hover {
  width: 250px;
  height: 50px;
  background: url('../images/botones_opciones/cargar_grafo_pulsado.png');
  overflow: hidden;
}

#boton_grafo {
  background: url('../images/botones_opciones/mostrar_grafo.png');
}

#boton_grafo:hover {
  background: url('../images/botones_opciones/mostrar_grafo_pulsado.png');
}

#boton_pagina_principal {
  background: url('../images/botones_opciones/principal.png');
}

#boton_pagina_principal:hover {
  background: url('../images/botones_opciones/principal_pulsado.png');
}

#boton_cargar_grafo {
  background: url('../images/botones_opciones/cargar_grafo.png');
}

#boton_cargar_grafo:hover {
  background: url('../images/botones_opciones/cargar_grafo_pulsado.png');
}

#botones_opciones {
  margin-right: 25px;
  margin-left: 900px;
  margin-top: 100px;
  max-width: 150px;
  float:right;
}

#botones_opciones img {
  width: 250px;
  height: 50px;
  background-color: black;
  color: orange;
  overflow: hidden !important;
}

#botones_opciones input:hover {
  background-color: orange;
  color: black;
}

#container1 {
  max-width: 500px;
  height: 400px;
  margin: auto;
}

canvas{
    display: block;
    margin: 0 auto;
}

.image-zone {
  border-color: #000;
  margin-top: 30px;
}

.container1 {
  border-color: #000;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 500px;
  background-color: black;
}

img {
    display: block;
    margin: 0 auto;
    height:300px;
}


.separador {
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: 3px solid #000;
  size:1px;
}

table {
	border:1px solid rgba(133,6,3,0);
	border-collapse: collapse;
  margin: 0 auto;
  margin-top: 50px;
}

table td{
	border:1px solid rgb(133,6,3);
	padding:10px;
}

table tr:hover{
	background:gray;
}

table td:hover{
	background:orange;
	color:black;
}

table td img {
	height:auto;
	width:100px;
	margin:auto;
	display:block;
}
