<!--<input type="button" value="mostrar aristas" ng-click="showEdges()"><input type="button" value="mostrar nodos" ng-click="showNodes()">-->

<div id="seleccion_filtros">
  <center><input id="boton_grupo_neuronal" type="button" ng-click="display(1)"></center><br>
  <center><input id="boton_tipo_conexion" type="button" ng-click="display(2)"></center><br>
  <center><input id="boton_filtro_id" type="button" ng-click="display(3)"></center><br>
  <center><input id="boton_filtro_peso" type="button" ng-click="display(4)"></center><br>
  <center><input id="boton_seleccion_manual" type="button" ng-click="display(5)"></center><br>
  <center><input id="boton_log" type="button" ng-click="display(6)"></center><br>
</div>


<div id="seleccion_neuronas" style="display:none">
    Selecciona las neuronas que quieres visualizar: <br><br>
    <label><input id="1" type ="checkbox" name ="neurona" value = "Mosey Fibers" ng-click="chequearMosey()" checked> Mossy Fibers</label><br><br>
    <label><input id="2" type ="checkbox" name ="neurona" value = "Granulle Cells" ng-click="chequearGranulle()" checked> Granulle Cells</label><br><br>
    <label><input id="3" type ="checkbox" name ="neurona" value = "Purkinje Cells" ng-click="chequearPurkinje()" checked> Purkinje Cells</label><br><br>
    <label><input id="4" type ="checkbox" name ="neurona" value = "DCN Cells" ng-click="chequearDCN()" checked> DCN Cells</label><br><br>
    <label><input id="5" type="checkbox" name= "neurona" value = "Golgi Cells" ng-click="chequearGolgi()" checked> Golgi Cells</label><br><br>
    <label><input id="6" type ="checkbox" name ="neurona" value = "IO Cells" ng-click="chequearIO()" checked> IO Cells</label><br><br>

    <center><input id="volver_1" type="button" ng-click="volver(1)"></center>
</div>

<div id="seleccion_grupos" style="display:none">
    Selecciona el/los grupo/s neuronal/es a visualizar: <br><br>
    <label><input id="setAll" type="checkbox" ng-click="setAll()" > Seleccionar/Ocultar todos</label><br><br><br><br>
    <label><input id="MFGR" type="checkbox" value="Mossy-Granulle" ng-click="ajustarContadorNeuronasA()" checked> Mossy - Granulle (Morado)</label><br><br>
    <label><input id="MFGO" type="checkbox" value="Mossy-Golgi" ng-click="ajustarContadorNeuronasB()" checked> Mossy - Golgi (Verde)</label><br><br>
    <label><input id="GRGO" type="checkbox" value="Granulle-Golgi" ng-click="ajustarContadorNeuronasC()" checked> Granulle - Golgi (Azul)</label><br><br>
    <label><input id="GOGR" type="checkbox" value="Golgi-Granulle" ng-click="ajustarContadorNeuronasD()" checked> Golgi - Granulle (Rojo)</label><br><br>
    <label><input id="GOGO" type="checkbox" value="Golgi-Golgi" ng-click="ajustarContadorNeuronasE()" checked> Golgi - Golgi (Naranja)</label><br><br>
    <br><br>
    <center><input id="volver_2" type="button" ng-click="volver(2)"></center>
</div>

<div id="registro" style="display:none">
  <center><input id="boton_estadisticas_neuronas" type="button" ng-click="logNeurons()"></center><br>
  <center><input id="boton_estadisticas_sinapsis" type="button" ng-click="logEdges()"></center><br>
  <center><input id="volver_6" type="button" ng-click="volver(6)"></center>
</div>

<div id="estadisticas_n" style="display: none">
<div id="log_n"></div>
    <center><input id="volver_7" type="button" ng-click="volver(7)"></center>
</div>

<div id="estadisticas_a" style="display: none">
<div id="log_a"></div>
    <center><input id="volver_8" type="button" ng-click="volver(8)"></center>
</div>

<a href="#/"><img id="boton_pagina_principal_esp"></a>

<div id="infoNeurona" ng-model="grafoFactory.d" style="visibility:hidden"></div>

<!-- Contenedor que muestra la imagen generada por WebGL-->
<div id="container2"></div>



<div id="radioFiltrado" style="visibility:hidden">
  <b>Filtrado por:</b><br>
  <input type="radio" name="filtrado" id="id" ng-click="mostrarId()"> ID<br>
  <input type="radio" name="filtrado" id="peso" ng-click="mostrarPeso()"> Peso <br>
  <input type="radio" name="filtrado" id="individual" ng-click="mostrarSeleccionManual()"> Selección individual
</div>



<!-- Contenedor para los sliders -->
<div id="slider" style="visibility: hidden" >
<div><b>Mossy: </b></div><br>
<rzslider id="idmosey"
    rz-slider-model="sliderMosey.min"
    rz-slider-high="sliderMosey.max"
    rz-slider-options="sliderMosey.options"
    ng-mouseup = "chequearMosey()">
</rzslider>
<br>
<br>
<div><b>Granulle: </b></div><br>
<rzslider id="idgranulle"
    rz-slider-model="sliderGranulle.min"
    rz-slider-high="sliderGranulle.max"
    rz-slider-options="sliderGranulle.options"
    ng-mouseup = "chequearGranulle()">
</rzslider>
<br>
<br>
<div><b>Purkinje: </b></div><br>
<rzslider id="idpurkinje"
    rz-slider-model="sliderPurkinje.min"
    rz-slider-high="sliderPurkinje.max"
    rz-slider-options="sliderPurkinje.options"
    ng-mouseup = "chequearPurkinje()">
</rzslider>
<br>
<br>
<div><b>DCN: </b></div><br>
<rzslider id="iddcn"
    rz-slider-model="sliderDCN.min"
    rz-slider-high="sliderDCN.max"
    rz-slider-options="sliderDCN.options"
    ng-mouseup = "chequearDCN()">
</rzslider>
<br>
<br>
<div><b>Golgi: </b></div><br>
<rzslider id="idgolgi"
    rz-slider-model="sliderGolgi.min"
    rz-slider-high="sliderGolgi.max"
    rz-slider-options="sliderGolgi.options"
    ng-mouseup = "chequearGolgi()">
</rzslider>
<br>
<br>
<div><b>IO: </b></div><br>
<rzslider id="idio"
    rz-slider-model="sliderIO.min"
    rz-slider-high="sliderIO.max"
    rz-slider-options="sliderIO.options"
    ng-mouseup = "chequearIO()">
</rzslider><br><br>
<center><input id="volver_3" type="button" ng-click="volver(3)"></center>
</div>

<div id="sliderPeso" style="visibility: hidden">
<div id="sliderPesoMosey">
  <div><b>Peso Mossy(%): </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoMosey.min"
      rz-slider-high="sliderPesoMosey.max"
      rz-slider-options="sliderPesoMosey.options"
      ng-mouseup = "modificarPesoMosey()">
  </rzslider>
</div>
<br>
<div id="sliderPesoGranulle">
  <div><b>Peso Granulle(%): </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoGranulle.min"
      rz-slider-high="sliderPesoGranulle.max"
      rz-slider-options="sliderPesoGranulle.options"
      ng-mouseup = "modificarPesoGranulle()">
  </rzslider>
</div>
<br>
<div id="sliderPesoPurkinje">
  <div><b>Peso Purkinje(%): </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoPurkinje.min"
      rz-slider-high="sliderPesoPurkinje.max"
      rz-slider-options="sliderPesoPurkinje.options"
      ng-mouseup = "modificarPesoPurkinje()">
  </rzslider>
</div>
<br>
<div id="sliderPesoDCN">
  <div><b>Peso DCN(%): </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoDCN.min"
      rz-slider-high="sliderPesoDCN.max"
      rz-slider-options="sliderPesoDCN.options"
      ng-mouseup = "modificarPesoDCN()">
  </rzslider>
</div>
<br>
<div id="sliderPesoGolgi">
  <div><b>Peso Golgi(%): </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoGolgi.min"
      rz-slider-high="sliderPesoGolgi.max"
      rz-slider-options="sliderPesoGolgi.options"
      ng-mouseup = "modificarPesoGolgi()">
  </rzslider>
</div>
<br>
<div id="sliderPesoIO">
  <div><b>Peso IO(%): </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoIO.min"
      rz-slider-high="sliderPesoIO.max"
      rz-slider-options="sliderPesoIO.options"
      ng-mouseup = "modificarPesoIO()">
  </rzslider>
</div><br>
<center><input id="volver_4" type="button" ng-click="volver(4)"></center>
</div>

<div id="seleccionManual" style="visibility: hidden">
  <b>Haz click sobre la/s neurona/s a visualizar</b> <br><br>
  <b>Neuronas: </b>
  <div id="barra"><input id="inputNeuronas" type="text" ><br><br></div>
  <center><input type="button" value="Visualizar" ng-click="visualizar()"></center>
  <center><input type="button" value="Restaurar" ng-click="restaurar()"></center>
  <br>
  <center><input id="volver_5" type="button" ng-click="volver(5)"></center>
</div>
