<!--<input type="button" value="mostrar aristas" ng-click="showEdges()">
<input type="button" value="mostrar nodos" ng-click="showNodes()">-->

<!--Show all the filters inside the visualization-->
<div id="filter_selection">
  <center><input id="neuronal_group_button" type="button" ng-click="display(1)"></center><br>
  <center><input id="synapse_type_button" type="button" ng-click="display(2)"></center><br>
  <center><input id="id_filter_button" type="button" ng-click="display(3)"></center><br>
  <center><input id="weigth_filter_button" type="button" ng-click="display(4)"></center><br>
  <center><input id="manual_selection_button" type="button" ng-click="display(5)"></center><br>
  <center><input id="log_button" type="button" ng-click="display(6)"></center><br>
</div>


<!--Filter by neuronal group-->
<div id="neuron_selection" style="display:none">
    Seleccione el tipo de neurona: <br><br>
    <label><input id="1" type ="checkbox" name ="neurona" value = "Mosey Fibers" ng-click="checkMossy()" checked> Mossy Fibers</label><br><br>
    <label><input id="2" type ="checkbox" name ="neurona" value = "Granulle Cells" ng-click="checkGranulle()" checked> Granulle Cells</label><br><br>
    <label><input id="3" type ="checkbox" name ="neurona" value = "Purkinje Cells" ng-click="checkPurkinje()" checked> Purkinje Cells</label><br><br>
    <label><input id="4" type ="checkbox" name ="neurona" value = "DCN Cells" ng-click="checkDCN()" checked> DCN Cells</label><br><br>
    <label><input id="5" type="checkbox" name= "neurona" value = "Golgi Cells" ng-click="checkGolgi()" checked> Golgi Cells</label><br><br>
    <label><input id="6" type ="checkbox" name ="neurona" value = "IO Cells" ng-click="checkIO()" checked> IO Cells</label><br><br>

    <center><input id="back_1" type="button" ng-click="back(1)"></center>
</div>

<!--Filter by synapse type-->
<div id="synapse_selection" style="display:none">
    Selecciona el tipo de sinapsis: <br><br>
    <label><input id="setAll" type="checkbox" ng-click="setAll()" > Seleccionar/Ocultar todos</label><br><br><br><br>
    <label><input id="MFGR" type="checkbox" value="Mossy-Granulle" ng-click="checkCounterA()" checked> Mossy - Granulle (Morado)</label><br><br>
    <label><input id="MFGO" type="checkbox" value="Mossy-Golgi" ng-click="checkCounterB()" checked> Mossy - Golgi (Verde)</label><br><br>
    <label><input id="GRGO" type="checkbox" value="Granulle-Golgi" ng-click="checkCounterC()" checked> Granulle - Golgi (Azul)</label><br><br>
    <label><input id="GOGR" type="checkbox" value="Golgi-Granulle" ng-click="checkCounterD()" checked> Golgi - Granulle (Rojo)</label><br><br>
    <label><input id="GOGO" type="checkbox" value="Golgi-Golgi" ng-click="checkCounterE()" checked> Golgi - Golgi (Naranja)</label><br><br>
    <br><br>
    <center><input id="back_2" type="button" ng-click="back(2)"></center>
</div>

<!--Stats about the visualization-->
<div id="log" style="display:none">
  <center><input id="neuron_stats_button" type="button" ng-click="logNeurons()"></center><br>
  <center><input id="synapse_stats_button" type="button" ng-click="logEdges()"></center><br>
  <br><br>
  <center><input id="back_6" type="button" ng-click="back(6)"></center>
</div>

<div id="stats_n" style="display: none">
<div id="log_n"></div>
    <center><input id="back_7" type="button" ng-click="back(7)"></center>
</div>

<div id="stats_a" style="display: none">
<div id="log_a"></div>
    <center><input id="back_8" type="button" ng-click="back(8)"></center>
</div>

<a href="#/"><img id="main_page_button_esp"></a>

<!--When a neuron is clicked, this shows its info-->
<div id="neuronInfo" ng-model="graphFactory.d" style="visibility:hidden"></div>

<!-- container for storing the webGL generated image-->
<div id="container2"></div>

<!-- ID sliders container -->
<div id="slider" style="visibility: hidden" >
<div><b>Mossy: </b></div><br>
<rzslider id="idmosey"
    rz-slider-model="sliderMosey.min"
    rz-slider-high="sliderMosey.max"
    rz-slider-options="sliderMosey.options"
    ng-mouseup = "checkMossy()">
</rzslider>
<br>
<br>
<div><b>Granulle: </b></div><br>
<rzslider id="idgranulle"
    rz-slider-model="sliderGranulle.min"
    rz-slider-high="sliderGranulle.max"
    rz-slider-options="sliderGranulle.options"
    ng-mouseup = "checkGranulle()">
</rzslider>
<br>
<br>
<div><b>Purkinje: </b></div><br>
<rzslider id="idpurkinje"
    rz-slider-model="sliderPurkinje.min"
    rz-slider-high="sliderPurkinje.max"
    rz-slider-options="sliderPurkinje.options"
    ng-mouseup = "checkPurkinje()">
</rzslider>
<br>
<br>
<div><b>DCN: </b></div><br>
<rzslider id="iddcn"
    rz-slider-model="sliderDCN.min"
    rz-slider-high="sliderDCN.max"
    rz-slider-options="sliderDCN.options"
    ng-mouseup = "checkDCN()">
</rzslider>
<br>
<br>
<div><b>Golgi: </b></div><br>
<rzslider id="idgolgi"
    rz-slider-model="sliderGolgi.min"
    rz-slider-high="sliderGolgi.max"
    rz-slider-options="sliderGolgi.options"
    ng-mouseup = "checkGolgi()">
</rzslider>
<br>
<br>
<div><b>IO: </b></div><br>
<rzslider id="idio"
    rz-slider-model="sliderIO.min"
    rz-slider-high="sliderIO.max"
    rz-slider-options="sliderIO.options"
    ng-mouseup = "checkIO()">
</rzslider><br><br>
<center><input id="back_3" type="button" ng-click="back(3)"></center>
</div>

<!--Weigth sliders container-->
<div id="weigthSlider" style="visibility: hidden">
<div id="mossyWeigthSlider">
  <div><b>Peso Mossy(%): </b></div><br>
  <rzslider
      rz-slider-model="mossyWeigthSlider.min"
      rz-slider-high="mossyWeigthSlider.max"
      rz-slider-options="mossyWeigthSlider.options"
      ng-mouseup = "changeMossyWeigth()">
  </rzslider>
</div>
<br>
<div id="granulleWeigthSlider">
  <div><b>Peso Granulle(%): </b></div><br>
  <rzslider
      rz-slider-model="granulleWeigthSlider.min"
      rz-slider-high="granulleWeigthSlider.max"
      rz-slider-options="granulleWeigthSlider.options"
      ng-mouseup = "changeGranulleWeigth()">
  </rzslider>
</div>
<br>
<div id="purkinjeWeigthSlider">
  <div><b>Peso Purkinje(%): </b></div><br>
  <rzslider
      rz-slider-model="purkinjeWeigthSlider.min"
      rz-slider-high="purkinjeWeigthSlider.max"
      rz-slider-options="purkinjeWeigthSlider.options"
      ng-mouseup = "changePurkinjeWeigth()">
  </rzslider>
</div>
<br>
<div id="DCNWeigthSlider">
  <div><b>Peso DCN(%): </b></div><br>
  <rzslider
      rz-slider-model="DCNWeigthSlider.min"
      rz-slider-high="DCNWeigthSlider.max"
      rz-slider-options="DCNWeigthSlider.options"
      ng-mouseup = "changeDCNWeigth()">
  </rzslider>
</div>
<br>
<div id="golgiWeigthSlider">
  <div><b>Peso Golgi(%): </b></div><br>
  <rzslider
      rz-slider-model="golgiWeigthSlider.min"
      rz-slider-high="golgiWeigthSlider.max"
      rz-slider-options="golgiWeigthSlider.options"
      ng-mouseup = "changeGolgiWeigth()">
  </rzslider>
</div>
<br>
<div id="IOWeigthSlider">
  <div><b>Peso IO(%): </b></div><br>
  <rzslider
      rz-slider-model="IOWeigthSlider.min"
      rz-slider-high="IOWeigthSlider.max"
      rz-slider-options="IOWeigthSlider.options"
      ng-mouseup = "changeIOWeigth()">
  </rzslider>
</div><br>
<center><input id="back_4" type="button" ng-click="back(4)"></center>
</div>

<!--individual selection container-->
<div id="manualSelection" style="visibility: hidden">
  <b>Haz click sobre la/s neurona/s a visualizar</b> <br><br>
  <b>Neuronas: </b>
  <div id="bar"><input id="inputNeuron" type="text" ><br><br></div>
  <center><input type="button" value="Visualizar" ng-click="visualize()"></center>
  <center><input type="button" value="Restaurar" ng-click="restore()"></center>
  <br>
  <center><input id="back_5" type="button" ng-click="back(5)"></center>
</div>
