<!-- PARTE FUNCIONAL, NO TOCAR -->

<!--Panel opciones en la parte derecha de la página -->
<div id="botones_opciones">

  <img id="boton_grafo" ng-click="visibilidad(true)">
  <br>
  <div id="hidden generar_grafo" ng-show="checked">
  <input id="textoGenerar" type="text" placeholder="Número mínimo: 2"ng-model="numeroNodos">
  <input type="button" value="Generar" ng-click="generarGrafo(numeroNodos);visibilidad(false);resetTexto()">
  </div>
  <br>
  <br>
  <br>
  <div class="upload">
        <input id="boton_cargar_grafo" type="file" accept=".json" on-read-file="cargarGrafo($fileContent)"/>
  </div>
  <br>
  <br>
  <br>
  <br>
  <a href="#/"><img id="boton_pagina_principal"></a>
  <!--<input type="file" accept=".txt" on-read-file="mostrarNeuronasLeidas($fileContent)" />-->
  <input type="file" accept=".txt" on-read-file="cargarNeuronas($fileContent)" />

</div>



<!-- Contenedor que muestra la imagen generada por WebGL-->
<div id="container2" ng-controller="GrafosCtrl"></div>

<div id="seleccion_neuronas">
    Selecciona las neuronas que quieres visualizar: <br><br>
    <input id="1" type ="checkbox" name ="neurona" value = "Mosey Fibers" ng-click="comprobar()"> Mosey Fibers<br>
    <input id="2" type ="checkbox" name ="neurona" value = "Granulle Cells" ng-click="comprobar()"> Granulle Cells<br>
    <input id="3" type ="checkbox" name ="neurona" value = "Purkinje Cells" ng-click="comprobar()"> Purkinje Cells<br>
    <input id="4" type ="checkbox" name ="neurona" value = "DCN Cells" ng-click="comprobar()"> DCN Cells<br>
    <input id="5" type="checkbox" name= "neurona" value = "Golgi Cells" ng-click="comprobar()"> Golgi Cells <br>
    <input id="6" type ="checkbox" name ="neurona" value = "IO Cells" ng-click="comprobar()"> IO Cells<br>
</div>
