<!-- PARTE FUNCIONAL, NO TOCAR -->

<!--Panel opciones en la parte derecha de la página -->
<!--<div id="botones_opciones">

  <img id="boton_grafo" ng-click="visibilidad(true)">
  <br>
  <div id="hidden generar_grafo" ng-show="checked">
  <input id="textoGenerar" type="text" placeholder="Número mínimo: 2"ng-model="numeroNodos">
  <input type="button" value="Generar" ng-click="generarGrafo(numeroNodos);visibilidad(false);resetTexto()">
  </div>
  <br>
  <br>
  <br>
  <div class="upload">
        <input id="boton_cargar_grafo" type="file" accept=".json" on-read-file="cargarGrafo($fileContent)"/>
  </div>
  <br>
  <br>
  <br>
  <br>
  <a href="#/"><img id="boton_pagina_principal"></a>

  <input type="file" accept=".txt" on-read-file="cargarNeuronas($fileContent)"/>

</div>-->



<div id="seleccion_neuronas">
    Selecciona las neuronas que quieres visualizar: <br><br>
    <input id="1" type ="checkbox" name ="neurona" value = "Mosey Fibers" ng-click="ver()" checked> Mosey Fibers<br><br>
    <input id="2" type ="checkbox" name ="neurona" value = "Granulle Cells" ng-click="ver()" checked> Granulle Cells<br><br>
    <input id="3" type ="checkbox" name ="neurona" value = "Purkinje Cells" ng-click="ver()" checked> Purkinje Cells<br><br>
    <input id="4" type ="checkbox" name ="neurona" value = "DCN Cells" ng-click="ver()" checked> DCN Cells<br><br>
    <input id="5" type="checkbox" name= "neurona" value = "Golgi Cells" ng-click="ver()" checked> Golgi Cells<br><br>
    <input id="6" type ="checkbox" name ="neurona" value = "IO Cells" ng-click="ver()" checked> IO Cells<br><br>
</div>

<a href="#/"><img id="boton_pagina_principal"></a>



<!-- Contenedor que muestra la imagen generada por WebGL-->
<div id="container2" ng-controller="GrafosCtrl"></div>

<!-- Contenedor para los sliders -->
<div id="slider">
<div><b>Mosey: </b></div><br>
<rzslider
    rz-slider-model="sliderMosey.min"
    rz-slider-high="sliderMosey.max"
    rz-slider-options="sliderMosey.options"
    ng-mouseup = "ver()">
</rzslider>
<br>
<br>
<br>
<div><b>Granulle: </b></div><br>
<rzslider
    rz-slider-model="sliderGranulle.min"
    rz-slider-high="sliderGranulle.max"
    rz-slider-options="sliderGranulle.options"
    ng-mouseup = "ver()">
</rzslider>
<br>
<br>
<br>
<div><b>Purkinje: </b></div><br>
<rzslider
    rz-slider-model="sliderPurkinje.min"
    rz-slider-high="sliderPurkinje.max"
    rz-slider-options="sliderPurkinje.options"
    ng-mouseup = "ver()">
</rzslider>
<br>
<br>
<br>
<div><b>DCN: </b></div><br>
<rzslider
    rz-slider-model="sliderDCN.min"
    rz-slider-high="sliderDCN.max"
    rz-slider-options="sliderDCN.options"
    ng-mouseup = "ver()">
</rzslider>
<br>
<br>
<br>
<div><b>Golgi: </b></div><br>
<rzslider
    rz-slider-model="sliderGolgi.min"
    rz-slider-high="sliderGolgi.max"
    rz-slider-options="sliderGolgi.options"
    ng-mouseup = "ver()">
</rzslider>
<br>
<br>
<br>
<div><b>IO: </b></div><br>
<rzslider
    rz-slider-model="sliderIO.min"
    rz-slider-high="sliderIO.max"
    rz-slider-options="sliderIO.options"
    ng-mouseup = "ver()">
</rzslider>

</div>

<div id="sliderPeso">
  <div><b>Filtrado por peso: </b></div><br>
  <rzslider
      rz-slider-model="sliderPeso.min"
      rz-slider-high="sliderPeso.max"
      rz-slider-options="sliderPeso.options"
      ng-mouseup = "verPeso()">
  </rzslider>
</div>

<!--<form>
  <select id="filtrado" size="1">
    <option>ID neuronal</option>
    <option>Peso</option>
  </select>
</form>-->
