<!-- Contenedor que muestra la imagen generada por WebGL-->
<!--<div id="container1" ng-controller="MainCtrl" height="500px"></div>-->
<div class="mascara">
  <input type="file" accept=".txt" on-read-file="nuevoCargarNeuronas($fileContent)"/>
</div>
<br><br>
<div id="especificaciones" ng-show = "checked">
</div>

<hr class="separador" style="color:#000;" width="50%">

<!-- Slider de opciones de visualización -->
<table>
<span class ="screens">
<tr id="color" style="display: none">
  <td><a href="#/circular"><img src = "../app/images/visualizacion_circular.jpg" /></a></td>
  <td><a href="#/horizontal"><img src = "../app/images/visualizacion_horizontal.jpg"/></a></td>
</tr>
<tr id="bn">
  <td><img src = "../app/images/visualizacion_circular_bn.jpg" /></td>
  <td><img src = "../app/images/visualizacion_horizontal_bn.jpg"/></td>
</tr>
</span>
</table>
