<!-- Contenedor que muestra la imagen generada por WebGL-->
<!--<div id="container1" ng-controller="MainCtrl" height="500px"></div>-->
<div class="mascara">
  <input type="file" accept=".txt" on-read-file="cargarNeuronas($fileContent)"/>
</div>
<br><br>
<div id="especificaciones" ng-show = "checked">
</div>

<hr class="separador" style="color:#000;" width="50%">

<!-- Slider de opciones de visualización -->
<table>
<span class ="screens">
<tr >
  <td><a href="#/grafos"><img src = "../app/images/grafico_grafos.jpg" /></a></td>
  <td><a href="#/visualizacion2"><img src = "../app/images/grafico_circular.png"/></a></td>
</tr>
</span>
</table>

<input type="button" value="crear objeto" ng-click="pruebaCreacion()">
