<div id="seleccion_neuronas">
    Selecciona las neuronas que quieres visualizar: <br><br>
    <input id="1" type ="checkbox" name ="neurona" value = "Mosey Fibers" ng-click="ver()" checked> Mosey Fibers<br><br>
    <input id="2" type ="checkbox" name ="neurona" value = "Granulle Cells" ng-click="ver()" checked> Granulle Cells<br><br>
    <input id="3" type ="checkbox" name ="neurona" value = "Purkinje Cells" ng-click="ver()" checked> Purkinje Cells<br><br>
    <input id="4" type ="checkbox" name ="neurona" value = "DCN Cells" ng-click="ver()" checked> DCN Cells<br><br>
    <input id="5" type="checkbox" name= "neurona" value = "Golgi Cells" ng-click="ver()" checked> Golgi Cells<br><br>
    <input id="6" type ="checkbox" name ="neurona" value = "IO Cells" ng-click="ver()" checked> IO Cells<br><br>
</div>

<a href="#/"><img id="boton_pagina_principal"></a>



<!-- Contenedor que muestra la imagen generada por WebGL-->
<div id="container2" ng-controller="Visualizacion2Ctrl"></div>

<div id="radioFiltrado">
  <b>Filtrado por:</b><br>
  <input type="radio" name="filtrado" id="id" ng-click="mostrarId()"> ID<br>
  <input type="radio" name="filtrado" id="peso" ng-click="mostrarPeso()"> Peso
</div>

<!-- Contenedor para los sliders -->
<div id="slider" style="visibility: hidden">
<div><b>Mosey: </b></div><br>
<rzslider
    rz-slider-model="sliderMosey.min"
    rz-slider-high="sliderMosey.max"
    rz-slider-options="sliderMosey.options"
    ng-mouseup = "ver()">
</rzslider>
<br>
<br>
<br>
<div><b>Granulle: </b></div><br>
<rzslider
    rz-slider-model="sliderGranulle.min"
    rz-slider-high="sliderGranulle.max"
    rz-slider-options="sliderGranulle.options"
    ng-mouseup = "ver()">
</rzslider>
<br>
<br>
<br>
<div><b>Purkinje: </b></div><br>
<rzslider
    rz-slider-model="sliderPurkinje.min"
    rz-slider-high="sliderPurkinje.max"
    rz-slider-options="sliderPurkinje.options"
    ng-mouseup = "ver()">
</rzslider>
<br>
<br>
<br>
<div><b>DCN: </b></div><br>
<rzslider
    rz-slider-model="sliderDCN.min"
    rz-slider-high="sliderDCN.max"
    rz-slider-options="sliderDCN.options"
    ng-mouseup = "ver()">
</rzslider>
<br>
<br>
<br>
<div><b>Golgi: </b></div><br>
<rzslider
    rz-slider-model="sliderGolgi.min"
    rz-slider-high="sliderGolgi.max"
    rz-slider-options="sliderGolgi.options"
    ng-mouseup = "ver()">
</rzslider>
<br>
<br>
<br>
<div><b>IO: </b></div><br>
<rzslider
    rz-slider-model="sliderIO.min"
    rz-slider-high="sliderIO.max"
    rz-slider-options="sliderIO.options"
    ng-mouseup = "ver()">
</rzslider>

</div>

<div id="sliderPeso" style="visibility: hidden">
<div id="sliderPesoMosey">
  <div><b>Filtrado por peso de neuronas Mosey: </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoMosey.min"
      rz-slider-high="sliderPesoMosey.max"
      rz-slider-options="sliderPesoMosey.options"
      ng-mouseup = "modificarPesoMosey()">
  </rzslider>
</div>
<br>
<br>
<br>
<div id="sliderPesoGranulle">
  <div><b>Filtrado por peso de neuronas Granulle: </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoGranulle.min"
      rz-slider-high="sliderPesoGranulle.max"
      rz-slider-options="sliderPesoGranulle.options"
      ng-mouseup = "modificarPesoGranulle()">
  </rzslider>
</div>
<br>
<br>
<br>
<div id="sliderPesoPurkinje">
  <div><b>Filtrado por peso de neuronas Purkinje: </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoPurkinje.min"
      rz-slider-high="sliderPesoPurkinje.max"
      rz-slider-options="sliderPesoPurkinje.options"
      ng-mouseup = "modificarPesoPurkinje()">
  </rzslider>
</div>
<br>
<br>
<br>
<div id="sliderPesoDCN">
  <div><b>Filtrado por peso de neuronas DCN: </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoDCN.min"
      rz-slider-high="sliderPesoDCN.max"
      rz-slider-options="sliderPesoDCN.options"
      ng-mouseup = "modificarPesoDCN()">
  </rzslider>
</div>
<br>
<br>
<br>
<div id="sliderPesoGolgi">
  <div><b>Filtrado por peso de neuronas Golgi: </b></div>
  <rzslider
      rz-slider-model="sliderPesoGolgi.min"
      rz-slider-high="sliderPesoGolgi.max"
      rz-slider-options="sliderPesoGolgi.options"
      ng-mouseup = "modificarPesoGolgi()">
  </rzslider>
</div>
<br>
<br>
<br>
<div id="sliderPesoIO">
  <div><b>Filtrado por peso de neuronas IO: </b></div><br>
  <rzslider
      rz-slider-model="sliderPesoIO.min"
      rz-slider-high="sliderPesoIO.max"
      rz-slider-options="sliderPesoIO.options"
      ng-mouseup = "modificarPesoIO()">
  </rzslider>
</div>
</div>
